<div *ngIf="!authorized">
  <app-authorize-component (authorizedState)="checkAuthorized($event)"></app-authorize-component>
  <hr />
</div>

<div *ngIf="authorized">
  <button (click)="activate('employee')">Show employee component</button>
  <button (click)="activate('employee')">Show employee component</button>
  <hr />
  <app-employee-component *ngIf="activation.employee"></app-employee-component>
  <app-temperature-conversion *ngIf="activation.employee"></app-temperature-conversion>
</div>