<div *ngIf="!authorized">
  <app-authorize-component (authorizedState)="checkAuthorized($event)"></app-authorize-component>
  <hr />
</div>

<div *ngIf="authorized">
  <button (click)="activate('employee')">Launch employee component</button>
  <button (click)="activate('temp')">Launch conversion component</button>
  <hr />
  <app-employee-component *ngIf="activation.employee"></app-employee-component>
  <app-temperature-conversion *ngIf="activation.temperature"></app-temperature-conversion>
</div>

<app-check-services></app-check-services>