/* Add application styles & imports to this file! */

* {
  box-sizing: border-box;
}

button {
  background-color: blue;
  margin: 1rem;
  color: aliceblue;
  padding: 5px;
  font-size: 13.5px;
  border-radius: 10px;
  text-align: center;
}

label {
  margin: 1rem;
  color: blue;
}

input {
  width: 15rem;
  padding: 10px;
  margin: 10px;
  border-color: rgb(0, 81, 255);
  border-radius: 10px;
}
